@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cashGivenInput,.change-return{
  display: none;
}
  
:root {
    --primary-color: #1E40AF;
    --black: #333333;
    --width-break: 600px;
}
  
body {
    font-family: "Urbanist", sans-serif;
    min-width: 100vw;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
  
.heading {
    color: var(--primary-color);
}
  
.description {
    font-size: 1.3rem;
    margin: 1rem;
}
  
label{
    margin: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}
  
input {
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}

#next-button {
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
}
  
#check-button {
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
}
  
.error-message {
    display: block;
    font-size: 1.3rem;
    padding: 1rem 0rem;
}
  

.change-table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
}
  
.change-table caption {
    margin: 1rem auto;
    font-size: 1.3rem;
    font-weight: 500;
}
  
th,
td {
    border: 2px solid var(--primary-color);
    width: 0%;
    border-collapse: collapse;
    padding: 0.4rem;
}

/* footer */
  
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  footer p {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem 0rem;
  }
  
  footer ul {
    padding-inline-start: 0px;
  }
  
  a,
  img,
  li {
    display: inline;
  }
  
  img {
    width: 40px;
    padding: 0.2rem;  
  }